#!/usr/bin/env xdg-open
[Desktop Entry]
Name=S.T.A.L.K.E.R.: Call of Pripyat
Exec=stalker_cs
Icon=stalker_cs
Terminal=false
Type=Application
Categories=Game;
Keywords=stalker;stalker cs;stalker_cs;clear;sky;clear sky;sky clear;
